
#e321 img { border: 0; }
#e321  {
    color:#848484;
    font-family:Arial,Helvetica,sans-serif; 
    font-size:12px; 
}
#e321 .clearing {
    clear:both;
    height:1px;
}
#e321 strong{
    font-weight: bold;
}
/********************************************************** 
* HTML Comonents
**********************************************************/
#e321 select {
    background:none repeat scroll 0 0 #FFFFFF;
    width:100%;
}

#e321 input {
    background:url("../img/backgrounds/bg_input.gif") repeat-x scroll 0 0 #FFFFFF;         
    /*text-indent:7px;*/
}

#e321 input, #e321 select{
    padding:3px 0;
    color:#000000;
    border:1px solid #D3D3D3;
    font-size:15px;
    font-family: Arial, Helvetica; 
    margin-top:5px;
}
#e321 a {
    color:black;
    cursor:pointer;
    font-weight:bold;
    outline-style:none;
    text-decoration:none;
}
/******************************************************************
*
*******************************************************************/
#e321 .excursions{ 
    /*width: 873px; */  
}
#e321 .excursions h1{
    color:#E77817;
    font-size:3em;
}
#e321 .excursions h2{
    color:#000000;
    font-size:2em;
}

#e321 .exc{
    float: left;
    width: 700px;
}
#e321.exc em{
    font-weight: bold;
    line-height: 28px;
    /*font-style: italic;*/
}
#e321 #exc_list{    

}
#e321 .txt_right{
    float: right;
    width:90px;
    text-align: center;
} 
#e321 .e_price{
    font: bold 26px/22px arial ;   
}
#e321 .icons{
    float: left;
    width: 100px;
    text-align: center; 
    margin-left: 240px;

}
#e321 .icons img{
    /*border: 2px solid #cccccc;*/
    padding: 1px;
    margin-left: 5px;
}
#e321 .description .desc_txt{
    width: 200px;
    text-align: left;
}
#e321 .exc_one{
    padding:10px;
    border: 1px solid #CCCCCC;
    margin-top: 4px;
} 
#e321 .exc_one .photo{
    float: left;
    width: 120;
}
#e321 .exc_one .reserve{
    float: right;
    width: 70px;
    margin: 0px 12px 0 0;
}
#e321 .description{
    float:left;
    margin-left:10px;
    /*margin-top:10px;*/
    width:340px;
    padding-right: 10px;
    border-right: 1px solid #CCCCCC; 
    min-height: 76px;
}
#e321 .desc_main{
    float: left;
    line-height: 19px;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 7px;
    padding-right: 10px;
    width: 370px;
}
#e321 .side{
    float:right;
    width: 293px;      
    margin-left: 10px;
    margin-top:10px;
}
#e321 .excursions .calendar{
    margin:10px 0 0 0;
    background-color: #F0F9FD;
}
#e321 .excursions .cal{
    min-height: 180px;
}
#e321 .excursions .calculator{
    padding-top:8px;
    /* padding-top:0;
    background-color:#F0F9FD;*/ 
}
#e321 .desc_main .desc_txt{
    text-align: justify;
    text-align: left;
}
#e321 #pickup_tab ul, #e321 #info_tab ul{
    list-style-type: none;
    /*margin: 0 0 0 6px;*/
}
#e321 #pickup_tab ul li, #e321 #info_tab ul li{
    color: #848484;
    line-height: 21px;
    font-size: 12px;
    background: url(../img/backgrounds/asterisk.gif) no-repeat 0 5px;
    padding-left: 20px;
}
#e321 #info_tab ol{
    list-style-type:decimal;
    /*margin: 0 0 0 6px;*/
}
#e321 #info_tab ol li{
    color: #848484;
    line-height: 21px;
    font-size: 12px;
    /*background: url(../img/backgrounds/asterisk.gif) no-repeat 0 5px;*/
    margin-left: 20px;
}
#e321 .excursions .pickup-info, #e321 .excursions .exc-info{
    padding: 10px;
    background-color:#A9CDE4;
} 
#e321 .desc{
    color:#AAAAAA;
    font-size:14px;
    font-style:italic;
    line-height:1.5em;
    padding-bottom:0.5em;
}   
#e321 .cssbutton{
    background-color:#E77817;
    color:#FFFFFF;
    float:right;
    font-size:12px;
    line-height:24px;
    margin-top:4px;
    margin-bottom:5px;
    padding:0 8px 2px;
}
#e321 .reserve a, #e321 .side a{
    color:#FFF;
    text-decoration: none;  
}
/******************************************************************
*   MODAL STYLER
*******************************************************************/ 

/*  Content container  */ 
.simplemodal-container{
    background: #FFF;
    -moz-border-radius:5px 5px 5px 5px;
    -moz-box-shadow:0 0 18px rgba(0, 0, 0, 0.4);
    border:3px solid transparent;
    /*min-height:160px;
    min-width:400px;*/
    /*min-width:585px;*/
}  

#simplemodal-data{
    padding: 10px;
}
#simplemodal-data a{
    text-decoration: none;
    color: #fff;
    line-height:16px;
}
/*  modal h2  */
.simplemodal-container h2{
    font-size: 11px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    text-align:center;
}
.simplemodal-container .logo{
    margin:0 auto;  
    margin-top: 30px;
    margin-bottom: 10px;
    width:380px;
    text-align:center;
}
.simplemodal-container .animate{
    text-align:center;
}

/******************************************************************
*   CUSTOMERS FORM
*******************************************************************/
#e321 .contactdiv {
    float:left;
    font-weight:normal;
    margin:5px;
    width:250px;
}
#e321 .contactdiv input {
    width:230px;
} 
#e321 .widgetStepSection input {
    background:none repeat scroll 0 0 #C2DA92;
    border:1px solid #C2DA92;
    color:#48592B;
    font-size:11px;
    margin:2px 0 0;
    padding:2px 4px;
}

/******************************************************************
*   gt_excursion
*******************************************************************/
#e321 .excursions .box{
    float: left;
    width:230px;
    margin: 10px;
}
#e321 .excursions .picturebox{
    float: left;
    width:200px;
    padding: 10px;
    margin: 10px;
    border:1px solid #CCCCCC;
}
#e321 .excursions #searchtop {
    background-image:url(../img/backgrounds/Search-panel_top.png);
    background-repeat:no-repeat;
    float:left;
    height:10px;
    width:218px;
}
#e321 #searchContents {
    background-image:url(../img/backgrounds/Search-panel_middle.png);
    background-repeat:repeat-y;
    float:left;
    padding-left:10px;
    width:210px;
}
#e321 #searchContents a{
    color: #fff;
}
#e321 #searchBottom {
    background-image:url(../img/backgrounds/Search-panel_bottom.png);
    background-repeat:no-repeat;
    float:left;
    height:12px;
    margin-bottom:9px;
    width:218px;
}
#e321 .sp_title{
    margin-left: 48px;
}
#e321 #searchContents img {
    padding:3px 0 0 3px;
}
#e321 #searchContents label {
    font:bold 11px verdana,sans-serif;
    margin:0;
    padding:8px 0 0;
    color:#333333;
}
#e321 select {
    border:1px solid #C0C0C0;
    color:#000000;
    cursor:pointer;
    margin-bottom:6px;
}
#e321 .sort{
    text-align: right;
    width: 873px;
}


/******************************************************************
*   CALCULATOR
*******************************************************************/
#e321 #adult-price,#e321  #children-price, #e321 #total-price{
    /*color:red;*/
}
#e321 #total-price{
    color: #F6921E;
}
#e321 .pad_label {
    float: left;
    width: 55px;
    margin-top: 8px;
}
#e321 #adults, #e321 #children{
    margin-right: 5px;
} 
#e321 .calc_left{
    /*float: left;*/ 
    /*width: 200px; */
    /*border-right: 1px solid #dedede;*/
    /*padding-right:30px;*/
}
#e321 .a_price{
    position: absolute;
    margin-left: 80px;
}
#e321 .calc_right{
    float:right;
    width:65px;

}
#e321 .calc_right span{
    color: #dedede;
    font-size: 22px;
    font-weight: bold;
}
#e321 .ch{
    /*padding-top: 10px;*/
}

/******************************************************************
*   EXC Total
*******************************************************************/
#e321 #total_t  {
    width: 580px;
}
#e321 table.excbookingTable tr td{
    border-bottom: 1px solid #dedede;
    padding: 2px 4px;
    font-size: 13px;
} 
#e321 .exc_one{
    background-color:#FFFFFF;
    border:1px solid #DDDDDD;
    padding:10px;
    width:200px;
}
#e321 .exc_one h3{
    color:#E77817;
    font-size:18px;
    font-weight:bold;
    margin-bottom:0.4em;
    font-family: "Arial Narrow","Helvetica Narrow",Arial,Helvetica,sans-serif;
    margin-top: 6px;
    letter-spacing: -1px;
    padding:0
}
#e321 h3{
    color:#E77817;
    font-size:2.5em;
    font-weight:normal;
    margin-bottom:0.7em;
    font-family: "Arial Narrow","Helvetica Narrow",Arial,Helvetica,sans-serif;
    margin-top: 8px;
}
#e321 .exc_one p{
    font-size:12px;
    color:#555555;
    font-family:Arial,Helvetica,sans-serif;
    /*    width: 180px; */
}
#e321 .exc_one .price{
    float: left;    
    width: 62px;
    color:#666666;
    font-size:12px;
    font-weight: bold;
}
#e321 .exc_one .ppp{
    color:#666666;
    font-size:24px;
    line-height:20px;
    /*padding-left:5px;*/
    font-family:"Arial Narrow","Helvetica Narrow",Arial,Helvetica,sans-serif;
}
#e321 .exc_one .select{
    float:right;
    margin-bottom:5px;
    color:#FFFFFF;
    background-color: #E77817;
    float:right;
    font-size:15px;
    line-height:25px;
    padding:0 25px 2px 8px;

}
#e321 .exc_one .img_bottom{
    margin-top: 10px;
}
#e321 .exc_one:hover{
    cursor:pointer;
    background :#FBF9CC;
    margin-top: 0;
}
#e321 #exc_list ul{
    margin: 0;
    padding: 0;
}
#e321 #exc_list ul li{
    list-style: none;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid #DDDDDD;
}
#e321 .img_bottom a{
    text-decoration: none;
    color: #FFF;
}
#e321 div.jquery-ajax-loader{
    background: #FFF;
    opacity:0.6; 
}
#quote #exc_date{
    margin-right:5px;
    width:192px;
}
#e321 .atlas_btn {
    background:url(../img/backgrounds/buttons/atlas_btn.gif) no-repeat scroll left top transparent;
    float:left;
    height:27px;
    padding:0 0 0 10px;
    margin-right:6px;
    line-height:25px;
}
#e321 .atlas_btn a {
    /*background:url(../img/backgrounds/buttons/atlas_btn.gif) no-repeat scroll right bottom transparent;

    font-weight:bold;
    height:27px;
    line-height:27px;*/
    padding:7px 26px 7px 0;
    color:#FFFFFF; 
    /*width:105px;*/    
}
#e321 .atlas_btn2 {
    background:url(../img/backgrounds/buttons/atlas_btn2.gif) no-repeat scroll left top transparent;
    float:left;
    height:27px;
    padding:0 0 0 10px;
    margin-right:6px;
}
#e321 .atlas_btn2 a {
    background:url(../img/backgrounds/buttons/atlas_btn2.gif) no-repeat scroll right bottom transparent;
    color:#FFFFFF;
    font-weight:bold;
    height:27px;
    line-height:27px;
    padding:7px 27px 7px 3px;
    width:105px;    
}
#e321 .atlas_btn_big {
    background:url(../img/backgrounds/buttons/atlas_btn_w_big.gif) no-repeat scroll left top transparent;
    float:left;
    height:36px;
    line-height: 30px;
    padding:0 0 0 15px;
}

#e321 .atlas_btn_big a {
    /*background:url(../img/backgrounds/buttons/atlas_btn_w_big.gif) no-repeat scroll right bottom transparent;*/
    border:0 none;
    color:#FFFFFF;
    font-size:16px;
    font-weight:bold;
    height:36px;
    line-height:36px;
    padding:10px 18px 10px 0;
    width:120px;
}

#e321 .s_btn{
    float: right;
    margin-right:24px;
}

/*ATLAS HEADER*/
#e321 .atlas_content_title{    
    margin-top: 5px;
    background:url(../img/backgrounds/bg_content_head_top.gif) no-repeat scroll left top #8E867D;
    height:159px;
}
#e321 .atlas_content_title_inner{  
    /*background:url(../img/backgrounds/bg_content_head_bot.gif) no-repeat scroll left bottom transparent;*/
    position: relative;

}
#e321 .photo_slider_box{
    float: right;
    margin-right: 20px;
}

#e321 .atlas_content_title_inner h1{
    color: #FFF;
    font-size: 28px;
    line-height: 28px;
    font-family:'Arial','Helvetica','Verdana',sans-serif;
    font-weight:bold;
    border-bottom:none;
    margin-bottom: 12px; 
    line-height: 22px;

}
#e321 .atlas_content_title_inner .content_desc {
    color:#FDAF4B;
    font-size:14px;
    font-weight:bold;
    line-height:1.3;
    text-transform:uppercase;
    font-family:'Arial','Helvetica','Verdana',sans-serif;
}
#e321 .atlas_content_intro{
    padding: 24px 0 0 21px;
    height: 95px;
}
#e321 #atlas_tabs{
    /*margin-top: 18px;*/
}
#e321 #atlas_tabs ul {
    list-style-type:none;
    margin:0;
    padding-left:10px;
}
#e321 #atlas_tabs ul li {
    float:left;
}
#e321 #atlas_tabs a {
    background:url(../img/backgrounds/global_tabs_right.gif) no-repeat scroll right bottom transparent;
    color:#FFFFFF;
    display:block;
    float:left;
    font-size:13px;
    font-weight:bold;
    height:40px;
    margin-right:6px;
    padding:0 7px 0 0;
}
#e321 #atlas_tabs a span {
    background:url(../img/backgrounds/global_tabs_left.gif) no-repeat scroll left bottom transparent;
    display:block;
    line-height:40px;
    padding:0 0 0 7px;
}
#e321 #atlas_tabs .on a {
    background:url(../img/backgrounds/global_tabs_right.gif) no-repeat scroll right top transparent;
    color:#666666;
}
#e321 #atlas_tabs .on a span {
    background:url(../img/backgrounds/global_tabs_left.gif) no-repeat scroll left top transparent;
    color:#666666;
}
#e321 #atlas_list{
    font-family: 'Arial','Helvetica','Verdana',sans-serif;
    /*margin-top: 18px; */
}

#e321 #atlas_list ul, #e321 #atlas_actions ul {
    list-style-type:none;
    margin:0;
}

#e321 #atlas_list li strong{
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 84px;
}
#e321 #atlas_list li span{ 
    color: #FFF; 
    font-size: 12px;
}
#e321 #atlas_actions{
    color: #FFF; 
    margin-top: 5px;
}
#e321 ul.atlas_actions li.print {
    background:url(../img/backgrounds/icon_white_print.gif) no-repeat scroll left center transparent;
    font-weight:normal;
    padding-left:18px;

}
#e321 ul.atlas_actions li.print a{
    color: #FFF;  
    font-size: 11px; 
}
#e321 .product_price {
    color:#6C665C;
    font-weight:bold;
    line-height:1.2;
    margin-right :20px;
    text-align:right;
    /*float: right;*/
    width:160px; 
    margin-top:80px;
    margin-top:60px;
    position: absolute;
    right: 0;
}
#e321 .bbborder_top_right {
    background:url(../img/backgrounds/bborder_top_right.gif) no-repeat scroll right top #FFFFFF;
    padding:0 10px 0 0;
}
#e321 .bbborder_bot_right {
    background:url(../img/backgrounds/bborder_bot_right.gif) no-repeat scroll right bottom transparent;
    padding:0 10px 0 0;
}
#e321 .bbborder_top_left {
    background:url(../img/backgrounds/bborder_top_left.gif) no-repeat scroll left top #FFFFFF;
    padding:8px 0 0 15px;

}
#e321 .bbborder_bot_left {
    background:url(../img/backgrounds/bborder_bot_left.gif) no-repeat scroll left bottom transparent;
    padding:0 0 0 10px;
}
#e321 .product_price em {
    font-size:30px;
    font-style:normal;
    letter-spacing:-0.02em;
    line-height:30px;
}

/*
*   BOOKING IN 2 STEP
*/
#e321 #quote{
    /*width: 300px;*/
}
#e321 .mk_body{
    background: #FBF9CC;
    /*border:1px solid #f5c79f;*/
}
#e321 .mk_head_wrap {
    background:url(../img/backgrounds/mk_head_right.gif) no-repeat scroll right top #CAE2EA;
    font-size:13px;
    font-weight:bold;
    padding-right:10px;
}
#e321 .mk_mod .orange {
    background:url(../img/backgrounds/mk_head_orange_right.gif) no-repeat scroll right top #8e867d;
    color:#FFFFFF;
}
#e321 .mk_head {
    background:url(../img/backgrounds/mk_head_left.gif) no-repeat scroll left top #CAE2EA;
    padding-left:10px;
}
#e321 .mk_mod .orange .mk_head {
    background:url(../img/backgrounds/mk_head_orange_left.gif) no-repeat scroll left top #8e867d;
}
#e321 .mk_head_wrap span {
    display:block;
    padding:8px 0;
}

#e321 .easystep_one {
    background:url(../img/backgrounds/number_one.gif) no-repeat scroll 10px 9px transparent;
    /*border-bottom:1px solid #f5c79f;*/
    padding:14px 10px 5px 45px;
}
#e321 .easystep_two {
    background:url(../img/backgrounds/number_two.gif) no-repeat scroll 10px 9px transparent;
    padding:14px 10px 10px 45px;
}
#e321 .easystep_bottom {
    background-color:#666666;
    color:#FFFFFF;
    font-size:11px;
    font-style: italic;
    padding:10px;
    text-align:center;
}

#e321 input, #e321 select, #e321 textarea, #e321 button {
    font-family:'Arial','Helvetica','Verdana',sans-serif;
    font-size:11px;
}
#e321 #infomessage{
    color: red;
}
#e321 .top_spacer{
    margin-top:10px;
}
#e321 .top_border{
    border-top:2px solid #E77817;
}
#e321 #wba-winner {
    margin-left: 47px;
    margin-top: 20px;
}
#loader h2{
    width: 108px;
    font-style: italic;
    margin-bottom: 0;
    border-bottom: none;
}
#e321 .guides-list{
    /*color: #F6921E;
    font-size: 10px;
    font-style: italic;
    margin: 0 0 8px;*/
    color: #FFFFFF;
    font-size: 12px;
}
#e321 .atlas_content_intro b{
    font-size: 10px;
    font-style: italic;
    color: #FF9900;
    margin-right: 5px;
}
#e321 .room_price{
    float: left;
    font-weight: bold;
    width: 81px;
    margin-top: 4px;
}

/*EDITOR STYLE*/
.body-wrap p {
    margin-bottom: 1.625em;
}
.body-wrap ul, .body-wrap ol {
    margin: 0 0 1.625em 2.5em;
    padding: 0;
}
.body-wrap ul {
    list-style: square outside none;
}
.body-wrap ol {
    list-style-type: decimal;
}
.body-wrap ol ol {
    list-style: upper-alpha outside none;
}
.body-wrap ol ol ol {
    list-style: lower-roman outside none;
}
.body-wrap ol ol ol ol {
    list-style: lower-alpha outside none;
}
.body-wrap ul ul, .body-wrap ol ol, .body-wrap ul ol, .body-wrap ol ul {
    margin-bottom: 0;
}
.body-wrap dl {
    margin: 0 1.625em;
}
.body-wrap dt {
    font-size: 15px;
    font-weight: bold;
}
.body-wrap dd {
    margin: 0 0 1.625em;
}
.body-wrap li {
    line-height: 19px;
}
.body-wrap strong {
    font-weight: bold;
}
.body-wrap cite, .body-wrap em, .body-wrap i {
    font-style: italic;
}
.body-wrap cite {
    border: medium none;
}
.body-wrap big {
    font-size: 131.25%;
}
.body-wrap pre {
    background: none repeat scroll 0 0 #F4F4F4;
    font: 13px/1.5 "Courier 10 Pitch",Courier,monospace;
    margin-bottom: 1.625em;
    padding: 0.75em 1.625em;
}
.body-wrap code, .body-wrap kbd, .body-wrap code var {
    font: 13px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
}
.body-wrap abbr, .body-wrap acronym, .body-wrap dfn {
    border-bottom: 1px dotted #666666;
    cursor: help;
}


/*Budva CSS

.exc{
width: 800px;
}
.excursions .box {
display: none;
}
.exc_one h3 {
font-size: 20px;
}
.excursions .picturebox {
display: none;
}
.atlas_content_intro {
padding: 14px 0 0 21px;
}

#atlas_list ul, #atlas_actions ul {
padding-left: 0;
}

.atlas_content_title {
background: none #8E867D;
height: 172px;
}
.atlas_content_title_inner h1 {
font-size: 24px;
}
.desc_main {
clear: both;
margin-left: 10px;
margin-top: 10px;
padding-right: 10px;
width: 780px;
}
.side {
float: left;
}
.traveler_list .traveler_firstname {
margin-right: 3px;
}
#pickup_tab ul {
list-style-type: none;
margin: 8px 0 ;
padding: 0;
}
*/